// OPEN SANS
@font-face {
  font-family: open-sans-bold;
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: open-sans-bold-italic;
  src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: open-sans-extra-bold;
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: open-sans-extra-bold-italic;
  src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: open-sans-italic;
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: open-sans-light;
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: open-sans-light-italic;
  src: url('../fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: open-sans-regular;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: open-sans-semibold;
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: open-sans-semibold-italic;
  src: url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf');
}

// CAVIAR DREAMS 

@font-face {
  font-family: caviar-dreams;
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}

@font-face {
  font-family: caviar-dreams-bold-italic;
  src: url('../fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf');
}

@font-face {
  font-family: caviar-dreams-italic;
  src: url('../fonts/Caviar-Dreams/CaviarDreams_Italic.ttf');
}

@font-face {
  font-family: caviar-dreams-bold;
  src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}


// QUICKSAND

@font-face {
  font-family: quicksand-bold;
  src: url('../fonts/quicksand/Quicksand-Bold.otf');
}

@font-face {
  font-family: quicksandbold-italic;
  src: url('../fonts/quicksand/Quicksand-BoldItalic.otf');
}

@font-face {
  font-family: quicksand-italic;
  src: url('../fonts/quicksand/Quicksand-Italic.otf');
}

@font-face {
  font-family: quicksand-light;
  src: url('../fonts/quicksand/Quicksand-Light.otf');
}

@font-face {
  font-family: quicksand-light-italic;
  src: url('../fonts/quicksand/Quicksand-LightItalic.otf');
}

@font-face {
  font-family: quicksand-regular;
  src: url('../fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
  font-family: quicksand-dash;
  src: url('../fonts/quicksand/Quicksand_Dash.otf');
}