h1{
  font-family: arial;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 50px;
}

.test{
	font-size: 10px;
}

.sub-header{
	padding: 70px 0px;
	width: 100%;
	display: inline-block;
	text-align: center;
	background: rgba(30,85,163,1);
	background: -moz-linear-gradient(-45deg, rgba(30,85,163,1) 0%, rgba(30,85,163,1) 8%, rgba(30,85,163,1) 18%, rgba(33,164,71,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,85,163,1)), color-stop(8%, rgba(30,85,163,1)), color-stop(18%, rgba(30,85,163,1)), color-stop(100%, rgba(33,164,71,1)));
	background: -webkit-linear-gradient(-45deg, rgba(30,85,163,1) 0%, rgba(30,85,163,1) 8%, rgba(30,85,163,1) 18%, rgba(33,164,71,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(30,85,163,1) 0%, rgba(30,85,163,1) 8%, rgba(30,85,163,1) 18%, rgba(33,164,71,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(30,85,163,1) 0%, rgba(30,85,163,1) 8%, rgba(30,85,163,1) 18%, rgba(33,164,71,1) 100%);
	background: linear-gradient(135deg, rgba(30,85,163,1) 0%, rgba(30,85,163,1) 8%, rgba(30,85,163,1) 18%, rgba(33,164,71,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e55a3', endColorstr='#21a447', GradientType=1 );

	.title{
		font-size: 30px;
		font-family: caviar-dreams-bold;
		color: $color-white;
		margin-bottom: 30px;
	}

	.description{
		font-family: open-sans-regular;
		text-align: center;
		margin-bottom: 30px;
		color: $color-white;

		p{
			line-height: 30px;
			color: $color-white;
			font-size: 16px;
		}
	}
}