/* ---------------------------------
Stylesheet for Microbiz

version: 1.0
author : Fathan Rohman
email  : karir.fathan@gmail.com
website: http://microbiz.co
-----------------------------------*/

@import "scope_global/fonts";
@import "scope_global/variabel";
@import "scope_global/mixins";
@import "scope_global/general";
@import "scope_global/button";
@import "scope_global/color";
@import "scope_global/header";
@import "scope_global/footer";

@import "scope_section/bootstrap";
@import "scope_section/supported";
@import "scope_section/vacility";
@import "scope_section/pricing";
@import "scope_section/contact";
